@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;}
	
	
#head{
	width:1024px;
	height:150px;
	background-image:url("../images/h_bg.jpg");
	background-repeat:no-repeat;
	margin:auto;
	position:relative;}
#submenu{
	width:480px;
	height:30px;
	float:right;
	margin-top:10px;
	font-size:12px;}
 .tp{
	width:25px;
	height:20px;
	background-image:url("../images/icon.gif");
	background-repeat:no-repeat;
	margin-right:5px;
	}

#scp{
	background-position:1px -5px;}
#scp-pic{
	background-position:-40px -5px;}
#scp-tp{
	background-position:-85px -5px;}
#scp-tap{
	background-position:-125px -5px;}
#submenu ul{
	    margin-left:10px;
	    list-style-type:none;
	    }
#submenu ul li{
	margin-top:10px;
	float:left;
	display:inline;
	}
#submenu ul li a{
	text-decoration:none;
	color:#333;
	display:block;}
.button{
	margin-left:8px;
	margin-bottom:10px;

}
.button input{
	width:40px;
	height:20px;
	background-image: url("../images/icon.gif");
	background-position:-3px -29px;
	background-color:white;
	border: none;
}
#time{
	position:absolute;
	right:0px;
	bottom:52px;
	width:400px;
	height:30px;
	color:#999;
	text-align:center;
	}

#nav{
	width:1000px;
	height:30px;
	float:left;
	margin-top:64px;
	font-size:14px;}
#nav ul{
	   width:1000px;
	   height:30px;
	   margin-left:24px;
	   list-style-type:none;
	  
	}
#nav ul li{
	width:84px;
	height:20px;
	display:inline;
	float:left;
	text-align:center;
	}
#nav ul li a{
	text-decoration:none;
	color:#333;
	display:block;
	width:80px;
	height:22px;}
#nav ul li a:hover{
	background-image:url(../images/nav_bg.gif);
	}
